/* COLORS */
/* 1. rgb(32, 137, 197) */
/* 2.  */

/* HTML, BODY */
html,
body{
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box !important;
    font-family: 'Source Sans Pro', sans-serif;
}

/* SECTIONS - ALL */
/*====================================================
                        HOME
======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/bg-home.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================
                        BUTTONS (Generic)
======================================================*/

.btn-general {
    border-width: 2px !important;
    border-radius: 0 !important;
    padding: 12px 26px 12px 26px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
}

.btn-white {
    border-color: #fff !important;
    color: #fff !important;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff !important;
    color: #41464b !important;
}

.btn-blue {
    border-color: #34c6d3 !important;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3 !important;
    color: #fff !important;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}


/*====================================================
                       ANIMATE
======================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}


/*====================================================
                       CONTENT (Generic)
======================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}


/* H3 : title :  */
h3.title{
    color: rgb(32, 137, 197);
    font-size: 30px;
}
h3.title_rgb{
    background: -webkit-linear-gradient(rgb(32, 137, 197), rgb(51, 187, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* CONTENT */
div.content{
    text-align: center !important;
}


/* FULL */


/* RESPONSIVE - responsive.css */